header {
  background-color: rgba(26, 24, 24, 1);
  padding: 41px 0 0 0;
}


h1 {
  position: absolute;
  width: 975px;
  height: 19px;
  left: 319px;
  top: 51px;

  font-family: Arvo;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;

  color: #878787;

}



.body{
  background-color: rgba(26, 24, 24, 1);
  padding: 41px 0 0 0;
}
.auto{
  position: absolute;
  width: 961px;
  height: 900px;
  left: 319px;
  top: 104px;

  background: #3E3C3C;
  border-radius: 17px;
}
.AVGprice{
  position: absolute;
  width: 265px;
  height: 46px;
  right: 10px;
  top: 404px;

  background: #F9DCC8;
  border-radius: 18px;
}
.AVGkm{
  position: absolute;
  width: 265px;
  height: 46px;
  right: 10px;
  top: 489px;

  background: #F9DCC8;
  border-radius: 18px;
}
.AVGyear{
  position: absolute;
  width: 265px;
  height: 46px;

  right: 10px;
  top: 565px;

  background: #F9DCC8;
  border-radius: 18px;
}
.Nedostatki{
  position: absolute;
  width: 318px;
  height: 500px;
  left: 10px;
  top: 278px;

  background: #C4C4C4;
  border-radius: 19px;
}


.carIcon{
  position: absolute;
  width: 48px;
  height: 50px;
  left: 100px;
  top: 278px;
}